<h1>회원가입</h1>

<form class=" form-horizontal" method="post">
    <div class="form-group">
        <lable>사용자 ID</lable>
        <input type="text" class="form-control" placeholder="사용자 ID 입력" />
    </div>

    <div class="form-group">
        <lable>사용자 PassWord</lable>
        <input type="password" class="form-control" placeholder="사용자 PassWord 입력" />
    </div>

    <div class="form-group">
        <lable>사용자 이름</lable>
        <input type="text" class="form-control" placeholder="사용자 이름 입력" />
    </div>

    <div class="form-group">
        <lable>생년월일</lable>
        <input type="text" class="form-control" placeholder="생년월일 입력" />
    </div>

    <div class="form-group">
        <lable>성별</lable>
        <input type="text" class="form-control" placeholder="성별 입력" />
    </div>

    <div class="form-group">
        <lable>휴대전화</lable>
        <input type="text" class="form-control" placeholder="휴대전화 입력" />
    </div>

    <div class="form-group">
        <lable>주소</lable>
        <input type="text" class="form-control" placeholder="주소 입력" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">회원가입</button>
        <a class="btn btn-warning" href="#">취소</a>
    </div>
</form>